{
    "linux_execution_file_url" : "https://present-files-1317479375.cos.ap-guangzhou.myqcloud.com/fisco-bcos-linux-x86_64.tar.gz",
    "macos_execution_file_url" : "https://present-files-1317479375.cos.ap-guangzhou.myqcloud.com/fisco-bcos-macOS-x86_64.tar.gz",
    "windows_execution_file_url" : "windows 目前不支持",
    "nodes" : []
}